[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
flask-restplus = "*"
gunicorn = "*"
tensorflow = "==1.15.2"
keras = "==2.0.8"
scikit-image = "*"
scipy = "*"
matplotlib = "*"
numpy = "*"
sistemka = {editable = true,git = "https://github.com/Sistemka/Sistemka.git"}
werkzeug = "==0.16"

[requires]
python_version = "3.6"
